{{!< default}}
{{> header}}
{{navigation}}


<main class="wrapper_uber">


{{#foreach posts}}

    <article class="post-container col-md-12" role="article" itemscope itemtype="http://schema.org/Article">


      {{#if image}}
    <div class="post-image col-md-6">
        <img src="{{{image}}}" />
    </div>

    <div class="col-md-6">
              <header class="postHeader_DarkCherry">
                  <h1 class="posttitle_uber" itemprop="headline">
                      <a href="{{{url}}}" rel="bookmark">{{title}}</a>
                  </h1>
                  <h3 class="post-info"> {{author.name}} | <time class="date_uber" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">{{date format=' MMM YYYY'}}</time></h3>

              </header>
              <div class="post-content" itemprop="articleBody">
              {{excerpt}}
            </div>


    </div>

{{else}}
        <header class="postHeader_DarkCherry">
            <h1 class="posttitle_uber" itemprop="headline">
                <a href="{{{url}}}" rel="bookmark">{{title}}</a>
            </h1>
            <h3 class="post-info"> {{author.name}} | <time class="date_uber" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">{{date format=' MMM YYYY'}}</time></h3>

        </header>
        <div class="post-content" itemprop="articleBody">
        {{excerpt}}
        </div>




{{/if}}

<div class="col-md-12">
    <a class="pull-right"; href="{{{url}}}" title="{{title}}" class="read-more"><button type="button" class="btn btn-default read-more-button">Read more</button></a>
</div>

{{#if tags}}
    <div class="post_tags col-md-12">
  {{tags separator=" | "}}
    </div>
{{/if}}


    </article>
{{/foreach}}
{{#if pagination}}
  <div class="pagination">
    {{{pagination}}}
  </div>
{{/if}}

</main>
